<%- include('../partials/head') %>
<%- include('../partials/header') %>
    <main>
        body goes here
        <%= user.email %> 
        <% for (let i = 0; i < 10; i++) { %> 
            <div>Hehehe <%= i %> </div>
        <% } %> 
    </main>
<%- include('../partials/footer') %>